[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1"
pep8 = "*"
autopep8 = "*"
pylint = "*"
django-crispy-forms = "*"
psycopg2 = "*"
djangorestframework = "*"
django-js = "*"

[requires]
python_version = "3.6"
