{% extends 'gigs/base.html' %}
{%block content %}
<h3 class="mb-4">Upcoming gigs</h3>
<ul class="gigs">
    {% for object in object_list %}
    <li>
        <div class="date">
            <div class="month">
                {{ object.dateTime|date:'M'}}
            </div>
            <div class="day">
                {{ object.dateTime|date:'j'}}
            </div>
        </div>
        <div class="details">
            <span class="artist">{{ object.artist }}</span>
            <span class="genre">{{ object.genre }}</span>
        </div>
    </li>
    {% endfor %}
</ul>


{%endblock content%}